{% extends "base.html" %}

{% block content %}

<div class="container mt-3">
    <div class="card">
        <div class="card-header">
            <h3> 500 Error Encountered </h3>
        </div>
        <div class="card-body">
            <p>
                A 500 error has been encountered, meaning the application has encountred an internal server error. Press the button below to return to the applications landing page.
            </p>
        </div>
        <div class="card-footer">
            <a href="{{ url_for('main.landing_page') }}" class="btn btn-secondary">Landing Page</a>
        </div>
    </div>
</div>

{% endblock %}