{% extends "base.html" %}

{% block content %}

{% if score %}

{{ score }}
{{ emotions }}

{% else %}

<div class="container">
    <div class="card">
        <h3 class="card-header">PHQ-9 Questionnaire</h3>
        <div class="card-body">
            <form id="questionnaire-form" method="POST" action="{{ url_for('main.phq9_questionnaire') }}">
                {{ form.csrf_token}}

                <div class="question" id="question1">
                    <label for="{{ form.question1.id }}">{{ form.question1.label}}</label>
                    {{ form.question1 (name='question1') }}
                </div>

                <div class="question" id="question2" style="display: none;">
                    <label for="{{ form.question2.id }}">{{ form.question2.label }}</label>
                    {{ form.question2 (name='question2') }}
                </div>

                <div class="question" id="question3" style="display: none;">
                    <label for="{{ form.question3.id }}">{{ form.question3.label }}</label>
                    {{ form.question3 (name='question3') }}
                </div>

                <div class="question" id="question4" style="display: none;">
                    <label for="{{ form.question4.id }}">{{ form.question4.label }}</label>
                    {{ form.question4 (name='question4') }}
                </div>

                <div class="question" id="question5" style="display: none;">
                    <label for="{{ form.question5.id }}">{{ form.question5.label }}</label>
                    {{ form.question5 (name='question5') }}
                </div>

                <div class="question" id="question6" style="display: none;">
                    <label for="{{ form.question6.id }}">{{ form.question6.label }}</label>
                    {{ form.question6 (name='question6') }}
                </div>

                <div class="question" id="question7" style="display: none;">
                    <label for="{{ form.question7.id }}">{{ form.question7.label }}</label>
                    {{ form.question7 (name='question7') }}
                </div>

                <div class="question" id="question8" style="display: none;">
                    <label for="{{ form.question8.id }}">{{ form.question8.label }}</label>
                    {{ form.question8 (name='question8') }}
                </div>

                <div class="question" id="question9" style="display: none;">
                    <label for="{{ form.question9.id }}">{{ form.question9.label }}</label>
                    {{ form.question9 (name='question9') }}
                </div>

                <button class="btn btn-secondary" id="last" type="button" onclick="previousQuestion();">Previous</button>
                <button class="btn btn-secondary" id="next" type="button" onclick="nextQuestion(); takePhoto();">Next</button>
            
            </form>
        </div>
    </div>
</div>

<div class="webcam" hidden>
    <video id="video" width="640" height="480" autoplay></video>
    <canvas id="webcamCanvas" width="640" height="480" style="display: none;"></canvas>
</div>

{% endif %}

{% endblock %}

{% block scripts %}

<script src="{{ url_for('static', filename='js/camera.js') }}"></script>
<script src="{{ url_for('static', filename='js/questionnaire.js') }}"></script>

{% endblock %}