{% extends "base.html" %}

{% block head %}

<style>
    .quiz-position {
        min-height: 700px;
        max-width: 900px;
    }

</style>

{% endblock %}

{% block content %}

{% if score and emotions %}

<div class="container d-flex justify-content-center align-items-center">
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-header" style="width: 100%">
                    <h3> Questionnaire Results </h3>
                </div>
                <div class="card-body">
                    <h5> PHQ-9 Score </h5>
                    {{ score }}
                    <h5> Emotions </h5>
                    {{ emotions }}
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <h3> Emotional Distribution Chart </h3>
                </div> 
                <div class="card-body">
                    <canvas id="pieChartCanvas" width="640" height="480"></canvas>
                </div> 
            </div>
        </div>
    </div>
</div>

{% else %}

<div class="container d-flex justify-content-center align-items-center quiz-position">
    <div class="card" id="phq9-info">
        <div class="card-header text-center">
            <h2> PHQ-9 Questionnaire </h2>
        </div>
        <div class="card-body">
            <p> 
                The PHQ-9 questionnaire will present to you various questions regarding depression severity and will generally 
                take the form of asking if you've been feeeling a specific way recently. You will be presented with various options
                to answer such as "Several Days" or "Nearly every day", which will correspond to different values. At the end of 
                the questionnaire a score will be given to you, as well as a descriptor of what this score means.
            </p>
            <p> 
                In addition a machine learning model will be utilised in order to predict your emotions from your facial expression.
                This will be used at the end of the questionnaire to calculate an additional metric which will attempt to quantify your 
                emotional state during the questionnaire. This will range from either positive, neutral, or negative, wherein positive and 
                negtative correspond to positive and negative emotions. For example, happy is a positive emotion whereas anger is definitely 
                negative.
            </p>
        </div>

        <div class="card-footer text-center">
            <button type="button" class="btn btn-secondary" id="start-questionnaire">Start PHQ-9 Questionnaire</button>
        </div>
    </div>

    <div class="card align-items-center" style="display: none;" id="phq9-form">
        <h3 class="card-header text-center">PHQ-9 Questionnaire</h3>
        <div class="card-body text-center">
            <form id="questionnaire-form" method="POST" action="{{ url_for('main.phq9_questionnaire') }}">
                {{ form.csrf_token}}

                <div class="question" id="question1">
                    <label for="{{ form.question1.id }}">{{ form.question1.label}}</label>
                    <div class="radio-wrapper">
                        {{ form.question1 (name='question1') }}
                    </div>
                </div>

                <div class="question" id="question2" style="display: none;">
                    <label for="{{ form.question2.id }}">{{ form.question2.label }}</label>
                    {{ form.question2 (name='question2') }}
                </div>

                <div class="question" id="question3" style="display: none;">
                    <label for="{{ form.question3.id }}">{{ form.question3.label }}</label>
                    {{ form.question3 (name='question3') }}
                </div>

                <div class="question" id="question4" style="display: none;">
                    <label for="{{ form.question4.id }}">{{ form.question4.label }}</label>
                    {{ form.question4 (name='question4') }}
                </div>

                <div class="question" id="question5" style="display: none;">
                    <label for="{{ form.question5.id }}">{{ form.question5.label }}</label>
                    {{ form.question5 (name='question5') }}
                </div>

                <div class="question" id="question6" style="display: none;">
                    <label for="{{ form.question6.id }}">{{ form.question6.label }}</label>
                    {{ form.question6 (name='question6') }}
                </div>

                <div class="question" id="question7" style="display: none;">
                    <label for="{{ form.question7.id }}">{{ form.question7.label }}</label>
                    {{ form.question7 (name='question7') }}
                </div>

                <div class="question" id="question8" style="display: none;">
                    <label for="{{ form.question8.id }}">{{ form.question8.label }}</label>
                    {{ form.question8 (name='question8') }}
                </div>

                <div class="question" id="question9" style="display: none;">
                    <label for="{{ form.question9.id }}">{{ form.question9.label }}</label>
                    {{ form.question9 (name='question9') }}
                </div>

                <button class="btn btn-secondary" id="last" type="button" onclick="previousQuestion();">Previous</button>
                <button class="btn btn-secondary" id="next" type="button" onclick="nextQuestion(); takePhoto();">Next</button>
            
            </form>
        </div>
    </div>
</div>

<div class="webcam" hidden>
    <video id="video" width="640" height="480" autoplay></video>
    <canvas id="webcamCanvas" width="640" height="480" style="display: none;"></canvas>
</div>

{% endif %}

{% endblock %}

{% block scripts %}

<script src="{{ url_for('static', filename='js/camera.js') }}"></script>
<script src="{{ url_for('static', filename='js/questionnaire.js') }}"></script>
<script src="{{ url_for('static', filename='js/visualisations/pie_chart.js') }}"></script>

<script>
    document.getElementById('start-questionnaire').addEventListener('click', function() {
        document.getElementById('phq9-form').style.display = 'block';
        document.getElementById('phq9-info').style.display = 'none';
    });
</script>

{% if score and emotions %}
<script>
    var ctx = document.getElementById('pieChartCanvas').getContext('2d');
    var emotionData = {{ emotions | tojson }};

    createPieChart(ctx, emotionData);
</script>
{% endif %}

{% endblock %}