{% extends "base.html" %}

{% block content %}

<div class="container">
    <table id="therapist_table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Choose this Therapist?</th>
            </tr>
        </thead>
        <tbody>
            {% for therapist in therapist_list %}
            <tr>
                <td>{{ therapist.first_name + " " + therapist.surname }}</td>
                <td>{{ therapist.email }}</td>
                <td>
                    <form id="choose_therapist_form" method = "POST" action="{{ url_for('main.assign_therapist') }}">
                        <input type="number" name="patient" value="{{ current_patient }}" hidden>
                        <input type="number" name="therapist" value="{{ therapist.id }}" hidden>
                        <input type="submit" class="btn btn-secondary" value="Select Therapist"></button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}

{% block scripts %}

<script> 
    $(document).ready(function () {
        $('#therapist_table').DataTable();
    });
</script>

{% endblock %}