{% extends "base.html" %}

{% block head %}

<style>
    body {
        text-align: center;
    }
</style>

{% endblock %}

{% block content %}

<div class="container">
    <div class="row mt-4 mb-4">
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <h3> Patient Information </h3>
                </div>
                <div class="card-body">
                    <p> <strong>Patient Name:</strong> {{ patient.first_name + " " + patient.surname }}</p>
                    <p> <strong>Email:</strong> {{ patient.email }} </p>
                    {% if therapist %}
                    <p> <strong>Current Therapist:</strong> {{ therapist.first_name + " " + therapist.surname }} </p>
                    {% else %}
                    <p> 
                        <strong>Current Therapist:</strong> You currently do not have an assigned therapist. Please select one before
                        conducting a therapy session.
                    </p>
                    {% endif %}
                </div>
                <div class="card-footer">
                    <a href="{{ url_for('auth.update_details') }}" class="btn btn-secondary">Change User Details</a>
                    <a href="{{ url_for('main.choose_therapist_page') }}" class="btn btn-secondary">Select/Update Therapist</a>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <h3> Questionnaire (PHQ/GAD) Information </h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <h5> PHQ-9 </h5>
                            <p> Last Recorded Score: 16 </p>
                            <p> Last Recorded Emotional State: Extremely Positive</p>
                        </div>
                        <div class="col-6">
                            <h5> GAD-7 </h5>
                            <p> Last Recorded Score: 21 </p>
                            <p> Last Recorded Emotional State: Moderately Negative </p>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <a href="{{ url_for('main.previous_phq') }}" class="btn btn-secondary"> View Further PHQ-9 Results </a>
                    <a href="{{ url_for('main.previous_gad')}}" class="btn btn-secondary"> View Further GAD-7 Results </a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <div class="card mb-3">
                <div class="card-header">
                    <h3> Most Recent Therapy Session </h3>
                </div>
                <div class="card-body">
                    {% if most_recent_session %}
                    <h5> Session Emotional State: {{ most_recent_session.emotional_state }}</h5>
                    <div class="container" style="width: 330px; height: 350px;">
                        <div class="col-12">
                            <canvas id="recent_session_pie_chart"></canvas>
                        </div>
                    </div>
                    {% else %}
                    <p> No data currently available to view as no therapy sessions have been conducted as of yet.</p>
                    {% endif %}
                </div>
                <div class="card-footer">
                    <a href="{{ url_for('main.all_previous_sessions_page') }}" class="btn btn-secondary">View Session</a>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <h3> Previous Therapy Sessions </h3>
                </div>
                <div class="card-body">
                    {% if all_sessions %}
                    <table id="sessions_table" class="cell-border">
                        <thead >
                            <tr>
                                <th> Date of Session </th>
                                <th> Time of Session </th>
                                <th> Emotional State </th>
                                <th> Further Details </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                            {% for session in all_sessions %}
                                <td> {{ session.time_of_session.strftime('%d-%m-%Y') }} </td>
                                <td> {{ session.time_of_session.strftime('%H:%M') }} </td>
                                <td> {{ session.emotional_state }}</td>
                                <td> 
                                    <a href="('main.specific_session')" class="btn btn-secondary">View Details</a>
                                </td>
                            {% endfor %}
                            </tr>
                        </tbody>
                    </table>
                    {% else %}
                    <p> No data currently available to view as no therapy have been conducted as of yet. </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}

{% if most_recent_session %}

<script src="{{ url_for('static', filename='js/visualisations/pie_chart.js') }}"></script>

<script>
    var ctx = document.getElementById('recent_session_pie_chart').getContext('2d');
    var emotion_data = {{ most_recent_session_emotions | tojson }};

    createPieChart(ctx, emotion_data);
</script>

<script>
    $(document).ready(function () {
        $('#sessions_table').DataTable({
            searching: false,
            info: false,
            lengthChange: false,
            pageLength: 5,
            responsive: true,
            orderable: false,
            "pagingType": "full_numbers"
        });
    })
</script>

{% endif %}

{% endblock %}