{% extends "base.html" %}

{% block head %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">

{% endblock %}

{% block content %}


<div class="flex-container" style="overflow: hidden;">
    <div class="row">
        <div class="col-12">
            <div class="p-5 text-center">
                <h1 class="mb-3"> Patient Users Dashboard </h1>
                <h3 class="mb-3"> Review data captured during previous therapy sessions and questionnaire attempts </h3>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row mt-4 mb-4">
        <div class="col-lg-6 col-sm-12 ">
            <div class="card">
                <div class="card-header text-center">
                    <h3> Patient Information </h3>
                </div>
                <div class="card-body text-center">
                    <p> <strong>Patient Name:</strong> {{ patient.first_name + " " + patient.surname }}</p>
                    <p> <strong>Email:</strong> {{ patient.email }} </p>
                    {% if therapist %}
                    <p> <strong>Current Therapist:</strong> {{ therapist.first_name + " " + therapist.surname }} </p>
                    {% else %}
                    <p> 
                        <strong>Current Therapist:</strong> You currently do not have an assigned therapist. Please select one before
                        conducting a therapy session.
                    </p>
                    {% endif %}
                </div>
                <div class="card-footer text-center">
                    {% if current_user.type == "patient" %}
                    <a href="{{ url_for('auth.update_details') }}" class="btn btn-secondary">Change User Details</a>
                    <a href="{{ url_for('main.choose_therapist_page') }}" class="btn btn-secondary">Select/Update Therapist</a>
                    <a href="{{ url_for('main.delete_patient_account', patient_id = patient.id) }}" class="btn btn-danger">Delete Account</a>
                    {% elif current_user.type == "therapist" %}
                    <button type="button" class="btn btn-secondary" disabled>Change User Details</button>
                    <button type="button" class="btn btn-secondary" disabled>Select/Update Therapist</button>
                    <button type="button" class="btn btn-danger" disabled>Delete Account</button>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-sm-12">
            <div class="card text-center">
                <div class="card-header">
                    <h3> Questionnaire Information </h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <h5> PHQ-9 </h5>
                            {% if most_recent_phq %}
                            <p> Last Recorded Score: {{ most_recent_phq.score }} </p>
                            <p> Last Recorded Emotional State: {{ most_recent_phq.emotional_state }} </p>
                            {% else %}
                            <p> 
                                No score data is currently available. Once the PHQ-9 questionanire has been attempted at least once data will appear here for review. 
                            </p>
                            {% endif %}
                        </div>
                        <div class="col-6">
                            <h5> GAD-7 </h5>
                            {% if most_recent_gad %}
                            <p> Last Recorded Score: 21 </p>
                            <p> Last Recorded Emotional State: {{ most_recent_gad.emotional_state }} </p>
                            {% else %}
                            <p>
                                No score data is currently available. Once the GAD-7 questionnaire has been attempted at least once data will appear here for review.
                            </p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    {% if most_recent_phq %}
                    <a href="{{ url_for('main.previous_phq', patient_id = patient.id) }}" class="btn btn-secondary"> Further PHQ-9 Results </a>
                    {% else %}
                    <button type="button" class="btn btn-secondary" disabled> Further PHQ-9 Results </button>
                    {% endif %}

                    {% if most_recent_gad %}
                    <a href="{{ url_for('main.previous_gad', patient_id = patient.id)}}" class="btn btn-secondary"> View Further GAD-7 Results </a>
                    {% else %}
                    <button type="button" class="btn btn-secondary" disabled> Further GAD-7 Results </button>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 col-sm-12">
            <div class="card mb-3 text-center">
                <div class="card-header">
                    <h3> Most Recent Therapy Session </h3>
                </div>
                <div class="card-body">
                    {% if most_recent_session %}
                    <h5 class="mb-2"> Session Date: {{ most_recent_session.session_start_time.strftime('%d/%m/%Y') }} </h5>
                    <h5 class="mb-2"> Session Time: {{ most_recent_session.session_start_time.strftime('%H:%M') }}</h5>
                    <div class="chart_container d-flex justify-content-center" style="height: 340px; width: 100%;">
                        <canvas id="recent_session_pie_chart"></canvas>
                    </div>
                    {% else %}
                    <p> No data currently available to view as no therapy sessions have been conducted as of yet.</p>
                    {% endif %}
                </div>
                <div class="card-footer">
                    {% if most_recent_session %}
                    <a href="{{ url_for('main.specific_session', session_id = most_recent_session.id) }}" id="mostRecent" class="btn btn-secondary">View Session</a>
                    {% else %}
                    <button disabled type="button" class="btn btn-secondary">View Session</button>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-sm-12">
            <div class="card text-center">
                <div class="card-header">
                    <h3> Previous Therapy Sessions </h3>
                </div>
                <div class="card-body">
                    {% if all_sessions %}
                    <table id="sessions_table" class="cell-border">
                        <thead>
                            <tr>
                                <th> Date of Session </th>
                                <th> Time of Session </th>
                                <th> Emotional State </th>
                                <th> Further Details </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for session in all_sessions %}
                            <tr>
                                <td> {{ session.session_start_time.strftime('%d-%m-%Y') }} </td>
                                <td> {{ session.session_start_time.strftime('%H:%M')}} </td>
                                <td> {{ session.emotional_state }}</td>
                                <td> 
                                    <a href="{{ url_for('main.specific_session', session_id = session.id) }}" class="btn btn-secondary">View Details</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                    <p> No data currently available to view as no therapy have been conducted as of yet. </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}

<script src="{{ url_for('static', filename='js/visualisations/pie_chart.js') }}"></script>
<script src="{{ url_for('static', filename='js/other/datatable.js') }}"></script>

{% if most_recent_session %}

<script>
    var ctx = document.getElementById('recent_session_pie_chart').getContext('2d');
    var emotion_data = {{ most_recent_session_emotions | tojson }};
    createPieChart(ctx, emotion_data);
</script>

{% endif %}

{% if all_sessions %}

<script>
    table = document.getElementById('sessions_table');
    createDataTable(table);
</script>

{% endif %}

{% endblock %}