{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <h3>Patient Information</h3>
                </div>
                <div class="card-body">
                    <p> Patient Name: {{ name }}</p>
                    <p> Email: {{ email }} </p>
                    {% if therapist %}
                    <p> Current Therapist: {{ therapist }} </p>
                    {% else %}
                    <p> 
                        Current Therapist: You currently do not have an assigned therapist. Please select one before
                        conducting a therapy session.
                    </p>
                    {% endif %}
                </div>
                <div class="card-footer">
                    <button type="button" class="btn btn-secondary">Update User Details</button>
                    <a href="{{ url_for('main.choose_therapist_page') }}" class="btn btn-secondary">Select/Update Therapist</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}