{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row mb-3 mt-3">
        <div class="col-6 md-12 sm-12">
            <div class="card text-center">
                <div class="card-header">
                    <h3> Latest Recorded Scores </h3>
                </div>
                <div class="card-body">
                    <p>
                        Below you can see the latest PHQ-9 and latest emotional state score captured during the last PHQ-9 attempt
                    </p>
                    <div class="row">
                        <div class="col-6">
                            <h5> Latest PHQ-9 Score </h5>
                            <p> {{ most_recent.score }} </p>
                        </div>
                        <div class="col-6">
                            <h5> Latest Emotional State Info </h5>
                            <p> {{ most_recent.emotional_state }} </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6 md-12 sm-12">
            <div class="card text-center">
                <div class="card-header">
                    <h3> Previous PHQ-9 Scores </h3>
                </div>
                <div class="card-body">
                    <canvas id="score_graph_canvas"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="card text-center">
                <div class="card-header">
                    <h3> Previous Attempts/Score Information </h3>
                </div>
                <div class="card-body text-center">
                    <p> 
                        In order to better understand your results below is a description of both the PHQ-9 scoring system and the emotional state scoring system
                    </p>
                    <div class="row">
                        <div class="col-6">
                            <h5> PHQ-9 Scoring </h5>
                            <p> Minimal/No Depression: 0 - 4 </p>
                            <p> Mild Depression: 5 - 9 </p>
                            <p> Moderate Depression: 10 - 14 </p>
                            <p> Moderately Severe Depression: 15 - 19 </p>
                            <p> Severe Depression: 20 - 27 </p>
                        </div>
                        <div class="col-6">
                            <h5> Emotional State Score </h5>
                            <p>Extremely Negative: 0.75 - 1</p>
                            <p>Moderately Negative: 0.50 - 0.75</p>
                            <p>Slightly Negative: 0.25 - 0.50</p>
                            <p>Neutral: 0.25 - -0.25</p>
                            <p>Slightly Positive: -0.50 - -0.25 </p>
                            <p>Moderately Positive: -0.75 - -0.50</p>
                            <p>Extremely Positive: -1 - -0.75 </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <h3> Previous Captured Emotional States </h3>
                </div>
                <div class="card-body">
                    <canvas id="emotional_state_graph_canvas"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}

<script src="{{ url_for('static', filename='js/visualisations/line_graph.js') }}"></script>

<script>
    var graph_labels = {{ graph_labels | tojson }};
    var label_type = "PHQ-9 Scores"

    var score_ctx = document.getElementById('score_graph_canvas').getContext('2d');
    var score_data = {{ score_data  | tojson }};
    createScoreGraph(score_ctx, graph_labels, score_data, label_type);

    var emotional_state_ctx = document.getElementById('emotional_state_graph_canvas');
    var emotional_state_data = {{ emotional_state_data | tojson }};
    createEmotionalStateGraph(emotional_state_ctx, graph_labels, emotional_state_data);

</script>

{% endblock %}