{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-12">
            <h3> Previous GAD </h3>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}

<script src="{{ url_for('static', filename='js/visualisations/line_graph.js') }}"></script>

<script>
    var ctx = document.getElementById('line_graph_canvas').getContext('2d');
    var emotion_data = {{ most_recent_session_emotions | tojson }};

    (ctx, emotion_data);
</script>

{% endblock %}