{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row mt-3">
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <h3> Session Information </h3>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-6">
                            <p> <strong> Overall Emotional State: </strong> {{ session.emotional_state }} </p>
                            <p> <strong> Session Therapist: </strong> {{ session_therapist.first_name + " " + session_therapist.surname }} </p>
                            <p> <strong> Total Emotion Instances: </strong> {{ total_emotions }} </p>
                        </div>
                        <div class="col-6">
                            <p> <strong> Session Start Time: </strong>{{ session.session_start_time.strftime('%H:%M:%S') }}</p>
                            <p> <strong> Session End Time: </strong>{{ session.session_end_time.strftime('%H:%M:%S') }} </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mt-3">
                <div class="card-header">
                    <h3> Session Emotions </h3>
                </div>
                <div class="card-body">
                    <table id="emotions_table" class="cell-border">
                        <thead>
                            <tr>
                                <th> Emotion Captured </th>
                                <th> Emotion Timestamp </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for emotion in session_emotions %}
                            <tr>
                                <td> {{ emotion.emotion_type }} </td>
                                <td> {{ emotion.time_captured.strftime('%H:%M') }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <h3> Session Emotional Distribution Chart </h3>
                </div>
                <div class="card-body">
                    <div class="chart_container d-flex justify-content-center" style="height: 400px; width: 100%">
                        <canvas id="emotions_chart"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %} 

{% block scripts %}

<script src="{{ url_for('static', filename='js/visualisations/pie_chart.js') }}"></script>
<script src="{{ url_for('static', filename='js/other/datatable.js') }}"></script>

<script>
    var ctx = document.getElementById('emotions_chart');
    var emotion_data = {{ emotion_data | tojson }};

    createPieChart(ctx, emotion_data);
</script>

<script>
    table = document.getElementById("emotions_table");
    createDataTable(table);
</script>

{% endblock %}