{% extends "base.html" %}

{% block content %}

<div class="flex-container" style="overflow: hidden;">
    <div class="row">
        <div class="col-12">
            <div class="p-5 text-center">
                <h1 class="mb-3"> Therapy Session </h1>
                <h4> Conduct therapy sessions with the aid of emotional recognition technology </h4>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row mt-3">
        <div class="col-6">
            <div class="card">
                <div class="card-header text-center align-middle">
                    <h3>Therapy Information</h3>
                </div>
                <div class="card-body">
                    <p>
                        In order to begin a therapy session you must firstly choose the therapist whom will conduct your session.
                        This therapist will then have a record of your emotional recognition results during the session to review.
                        Thus, it is import you make sure you select the right therapist.
                    </p>
                    {% if therapist %}
                    <p>
                        Your current therapist is {{ therapist }}. This therapist will conduct your therapy session and will have access 
                        to information regarding your emotional state after the session.
                    </p>
                    {% else %}
                    <p> 
                        You currently do not have a selected therapist. Therefore, you must select a therapist from the list within your patient profile
                        before you will be able to participate in a therapy session.
                    </p>
                    {% endif %}
                    <p> 
                        For best results make sure that you face forward towards the camera as the model as the application is most proficient at detecting 
                        faces which are facing forward as opposed to an unconventional or a profile view.
                    </p>
                </div>
                <div class="card-footer text-center align-middle">
                    <button type="button" id="start"  class="btn btn-secondary">Begin Session</button>
                    <a href="{{ url_for('main.therapy_results_page') }}" id="stop" class="btn btn-secondary">Stop Session</a>
                    <!--
                    <button type="button" id="sessionLength" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown">
                        Select Session Length
                    </button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">30 Minutes</a></li>
                        <li><a class="dropdown-item" href="#">60 Minutes</a></li>
                    </ul>
                    -->
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-header text-center align-middle">
                    <h3> Webcam Feed </h3>
                </div>
                <div class="card-body">
                    <video id="video" width="100%" height="100%" autoplay></video>
                    <canvas id="webcamCanvas" width="640" height="480" style="display: none;">
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}

<script src="{{ url_for('static', filename='js/therapy.js')}}"></script>

{% if not therapist %}

<script>
    var startButton = document.getElementById("start");
    var stopButton = document.getElementById("stop");
    var sessionLengthButton = document.getElementById("sessionLength");

    startButton.classList.add("disabled");
    stopButton.classList.add("disabled");
    sessionLengthButton.classList.add("disabled");
</script>

{% endif %}

{% endblock %}