{% extends "base.html" %}

{% block head %}

{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <h3>Therapy Information</h3>
                </div>
                <div class="card-body">
                    <p>
                        In order to begin a therapy session you must firstly choose the therapist whom will conduct your session.
                        This therapist will then have a record of your emotional recognition results during the session to review.
                        Thus, it is import you make sure you select the right therapist.
                    </p>
                    {% if therapist %}
                    <p>
                        Your current therapist is {{ therapist }}. This therapist will conduct your therapy session and will have access 
                        to information regarding your emotional state after the session.
                    </p>
                    {% else %}
                    <p> 
                        You currently do not have a selected therapist. Therefore, you must select a therapist from the list within your patient profile
                        before you will be able to participate in a therapy session.
                    </p>
                    {% endif %}
                    <p> 
                        Once you have chosen your therapist you can then start your therapy session. You can also choose the length of your session 
                        and have the ability to stop the session whenever you like. Please press "Start Session" when you are ready to begin and 
                        make sure your camera has a good view of your face.
                    </p>
                </div>
                <div class="card-footer">
                    <button id="start" type="button" class="btn btn-secondary">Begin Session</button>
                    <button id="stop" type="button" class="btn btn-secondary">End Session</button>
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                          Dropdown button
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                          <li><a class="dropdown-item" href="#">Action</a></li>
                          <li><a class="dropdown-item" href="#">Another action</a></li>
                          <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                      </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <h3> Webcam Feed </h3>
                </div>
                <div class="card-body">
                    <video id="video" width="100%" height="100%" autoplay></video>
                    <canvas id="webcamCanvas" width="640" height="480" style="display: none;">
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}

<script src="{{ url_for('static', filename='js/camera.js') }}"></script>
<script src="{{ url_for('static', filename='js/therapy.js')}}"></script>

{% endblock %}