{% extends "base.html" %}

{% block head %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">

{% endblock %}

{% block content %}

<div class="flex-container" style="overflow: hidden;">
    <div class="row">
        <div class="col-12">
            <div class="p-5 text-center">
                <h1 class="mb-3"> Therapist Users Dashboard </h1>
                <h3 class="mb-3"> Review your current patients and your conducted sessions from this screen</h3>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row mt-3">
        <div class="col-6">
            <div class="card text-center">
                <div class="card-header">
                    <h3 class="text-center"> Therapist User Details </h3>
                </div>
                <div class="card-body">
                    <p> <strong>Therapist Name: </strong>{{ therapist.first_name + " " + therapist.surname }} </p>
                    <p> <strong>Email: </strong> {{ therapist.email }} </p>
                    <p> <strong> Number of Current Patients: </strong> {{ patient_count }} </p>
                </div>
                <div class="card-footer text-center">
                    <a href="{{ url_for('auth.update_details') }}" class="btn btn-secondary">Change User Details</a>
                </div>
            </div>
        </div>
        
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="text-center"> Your Current Patients </h3>
                </div>
                <div class="card-body">
                    {% if current_patients %}
                    <table id="current_patients_table" class="cell-border">
                        <thead>
                            <tr>
                                <th> Patient Name </th>
                                <th> Patient Email </th>
                                <th> View Patient Details </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for patient in current_patients %}
                            <tr>
                                <td> {{ patient.first_name + " " + patient.surname }} </td>
                                <td> {{ patient.email }} </td>
                                <td>
                                    <a href="{{ url_for('main.profile_page', patient_id = patient.id) }}" class="btn btn-secondary">View Patient Details</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                    <p> You currently do not have any patients assigned to you. </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-6">
            <div class="card mb-2">
                <div class="card-header">
                    <h3 class="text-center"> Your Previously Conducted Sessions </h3>
                </div>
                <div class="card-body">
                    {% if conducted_sessions_data %}
                    <table id="conducted_sessions_table" class="cell-border">
                        <thead>
                            <tr>
                                <th> Session Date </th>
                                <th> Session Time </th>
                                <th> Session Patient </th>
                                <th> Session Details </th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for session, patient in conducted_sessions_data %}
                            <tr>
                                <td>
                                    {{ session.session_start_time.strftime('%d/%d/%Y') }}
                                </td>
                                <td>
                                    {{ session.session_start_time.strftime('%H:%M') }}
                                </td>
                                <td>
                                    {{ patient.first_name + " " + patient.surname }}
                                </td>
                                <td>
                                    <a href="{{ url_for('main.specific_session', session_id = session.id) }}" class="btn btn-secondary"> View Session </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% elif conducted_sessions_data is none %}
                    <p> 
                        No sessions have currently been conducted by you. Once you have conducted at least one therapy session data with a patient 
                        data will appear here for further review.
                    </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}

<script src="{{ url_for('static', filename='js/other/datatable.js') }}"></script>

<script>
    current_patients_table = document.getElementById('current_patients_table');
    createDataTable(current_patients_table);
    
    conducted_sessions_table = document.getElementById('conducted_sessions_table');
    createDataTable(conducted_sessions_table);
</script>

{% endblock %}