{% extends "base.html" %}

{% block head %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/stylesheet.css') }}">

<style>
    .info {
        background-color: #736980;
    }
</style>

{% endblock %}

{% block content %}

<!--
<div class="flex-container" style="overflow: hidden;">
    <div class="row">
        <div class="col-12">
            <div class="p-5 text-center">
                <h1 class="mb-3">Emotional Recognition Honours Application </h1>
                <h4 class="mb-3"> Student: Gary Smith (S181972) </h4>
                <h4 class="mb-3"> Supervisor: Huaglory Tianfield </h4>
            </div>
        </div>
    </div>
</div>
-->

<div class="flex-container" style="overflow: hidden;">
    <div class="row">
        <div class="col-12">
            <header class="info py-5 mt-3">
                <div class="container px-4 px-lg-5 my-5">
                    <div class="text-center">
                        <h1 class="display-4 fw-bolder">Emotional Recognition Mental Health Application</h1>
                        <p class="lead fw-normal text-white-50 mb-0">Student: Gary Smith - S1821972</p>
                        <p class="lead fw-normal text-white-50 mb-0">Supervisor: Huaglory Tianfield</p>
                    </div>
                    <div class="container px-10 px-lg-10 my-5">
                        <p class="text-center" style="font-size: 20px">
                            This application was developed for a Computing (G401) honours project at Glasgow Caledonian
                            University. The idea of the project revolves around using comptuer vision enabled emotional 
                            recognition to aid in mental healthcare and mental health disorder diagnosis.
                        </p>
                    </div>
                </div>
            </header>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-6 mt-3">
            <div class="card">
                <div class="card-header">
                    <h2 class="text-center">Simulated Therapy Sessions</h2>
                </div>
                <div class="card-body">
                    <p> 
                        One of the key features of the application is the ability to utilise the emotional recognition 
                        model during therapy sessions. The model is used during the session to gather expression data 
                        and display it at the end of a session. An associated emotional score metric, calcualated based 
                        off of the expressions captured, is also produced to provide additional insights into a persons 
                        emotional state.
                    </p>
                    <p>
                        The ability to view this captured data is available to two types of users, patients and therapist. 
                        Patients are able to look back on their own data whereas therapists are able to look back on the data
                        of all their assigned patients.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-6 mt-3">
            <div class="card">
                <div class="card-body">
                    <div class="pieChartContainer d-flex justify-content-center" style="height: 325px; width: 100%;">
                        <canvas id="pieChartCanvas"></canvas>
                    </div>              
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <div class="lineGraphContainer d-flex justify-content-center" style="height: 315px; width: 100%;">
                        <canvas id="lineGraphCanvas"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <h2 class="text-center"> Mental Health Questionnaires </h2>
                </div>
                <div class="card-body">
                    <p>
                       Another of the key features of the application revolves around the use of psychological
                       self-screening quesitonnaires GAD-7 and PHQ-9. These questionnaires have proven use 
                       in psychology for diangosing depression and anxiety. 
                    </p>
                    <p>
                        In addition to being able to take the questionnaires themselves the application will also
                        capture expression data during the questionnaires and provide an emotional metric, much like 
                        therapy sessions. 
                    </p>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}

{% block scripts %}

<script>
    var pieChartContext = document.getElementById('pieChartCanvas').getContext('2d');

    var data = {
        labels: ['angry', 'neutral', 'happy'],
        datasets: [{
            data: [2, 8, 5],
            backgroundColor: [
                'red', 'gray', 'yellow',
            ],
            borderColor: 'grey',
            borderWidth: 1
        }]
    };

    var pieChart = new Chart(pieChartContext, {
        type: 'pie', 
        data: data,
        options: {
            plugins: {
                legend: {
                    labels: {
                        color: 'white'
                    },
                }
            },
            responsive: true,
            maintainAspectRatio: true,
            legend: {
                labels: {
                    color: '#c7c6cd'
                },
            },
        },
    });

</script>

<script>
    var lineGraphContext = document.getElementById('lineGraphCanvas').getContext('2d');

    var data = {
        labels: ['12/1/2023', '16/1/2023', '19/1/2023', '3/2/2023'],
        datasets: [{
            label: 'PHQ-9 Scores',
            data: [20, 15, 9, 18],
            fill: false,
            backgroundColor: 'rgb(255, 99, 132)',
            borderColor: 'rgb(255, 99, 132)',
            tension: 0.4
        }]
    };

    var lineGraph = new Chart(lineGraphContext, {
        type: 'line',
        data: data,
        options: {
            responsive: true,
            maintainAspectRatio: false,
            fill: false,
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: true
                    }
                }]
            },
        },
    });
</script>

{% endblock %}