{% extends "base.html" %}

{% block head %}

{% endblock %}

{% block content %}

<div class="flex-container" style="overflow: hidden;">
    <div class="row">
        <div class="col-12">
            <div class="p-5 text-center bg-light">
                <h1 class="mb-3">Emotional Recognition Honours Application </h1>
                <h4 class="mb-3"> Student: Gary Smith (S181972) </h4>
                <h4 class="mb-3"> Supervisor: Huaglory Tianfield </h4>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-6 mt-3">
            <h2> Emotional Recognition Capability </h2>
            <p> 
                Lorem Ipsum Etc Etc...
            </p>
        </div>
    </div>
</div>

{% endblock %}